{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="col-lg-10 col-md-8 col-10 mx-auto ">
  <div class="row mt-5 text-center ">
    <div class = 'col-lg-12 col-md-12 col-12 text-center '>
      {% if message %}
        <h3 class='text-center alert alert-dark'>Pending Assets</h3>
      {% else %}
        <h3 class='text-center alert alert-info'>Assets List</h3>
        <div class='float-right'>
          <form action="" method="get" class="mb-2 ">
            <td >
              <input style='width:270px; height: 35px;' class='rounded' name = 'search_value'
               type='text' placeholder=' Search by employee email'>
            </td>
            <td >
              <button class='btn btn-info btn-sm' type="submit">Search</button>
            </td>
          </form>
        </div>
      {% endif %}
        <table class="table table-hover shadow-lg table-sm table-bordered">
            <thead>
              <tr class="bg-primary" style='color:aliceblue'>
                <th scope="col" style='font-size:smaller'>Form ID</th>
                <th scope="col" style='font-size:smaller'>যার নামে অর্জিত</th>
                <th scope="col" style='font-size:smaller'>ই-মেইল</th>
                <th scope="col" style='font-size:smaller'>সম্পদ অর্জনের তারিখ</th>
                <th scope="col" style='font-size:smaller'>সাক্ষর</th>
                <th scope="col" style='font-size:smaller'>নমুনা পত্র</th>
                <th colspan="3" class="bg-gradient" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% if all_lands %}  
              <tr>
                <th colspan ='6' >জমি (কৃষি/অকৃষি)</th>
              </tr>  
              {% for land in all_lands %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>L-{{ land.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ land.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ land.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ land.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ land.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in land.lands.all %}
                    <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a><br>
                  {% endfor %}
                </td> 
                <td>
                    <a href="{% url 'pamsapp:edit-land-admin' land.id %}" 
                    class='btn btn-outline-primary btn-sm'>View</a>
                {% if land.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}


            {% if all_buildings %}  
              <tr>
                <th colspan ='6' >ইমারত</th>
              </tr>  
              {% for building in all_buildings %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>B-{{ building.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ building.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ building.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ building.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ building.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in building.buildings.all %}
                  <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                  {% endfor %}
                </td> 
                <td>
                  <a href="{% url 'pamsapp:edit-building-admin' building.id %}" 
                  class='btn btn-outline-primary btn-sm'>View</a>
                {% if building.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}


            {% if all_homesteads %}  
              <tr>
                <th colspan ='6' >বসতবাড়ী</th>
              </tr>  
              {% for homestead in all_homesteads %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>H-{{ homestead.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ homestead.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ homestead.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ homestead.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ homestead.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in homestead.homestead.all %}
                  <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                  {% endfor %}
                </td> 
                <td>
                  <a href="{% url 'pamsapp:edit-homestead-admin' homestead.id %}" 
                  class='btn btn-outline-primary btn-sm'>View</a>
                {% if homestead.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}


              {% if all_businessfirms %}  
                <tr>
                  <th colspan ='6' >ব্যবসা প্রতিষ্ঠান</th>
                </tr>  
                {% for businessFirm in all_businessfirms %}  
                <tr class="table-info">
                  <td class='text-left' style='font-size:smaller'>BF-{{ businessFirm.id }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ businessFirm.owner }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ businessFirm.user.email }}</td>
                  <td class='text-center' style='font-size:smaller'>{{ businessFirm.date_of_acquisition }}</td>
                  <td style='font-size:smaller'>
                    <a href="{{ businessFirm.signature.url }}" download>signature</a>
                  </td> 
                  <td style='font-size:smaller'>
                    {% for note in businessFirm.business_Firms.all %}
                    <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                    {% endfor %}
                  </td> 
                  <td>
                    <a href="{% url 'pamsapp:edit-businessfirm-admin' businessFirm.id %}"
                    class='btn btn-outline-primary btn-sm'>View</a>
                  {% if businessFirm.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}


              {% if all_others %}  
                <tr>
                  <th colspan ='6' >স্থাবর অন্যান্য</th>
                </tr>  
                {% for other in all_others %}  
                <tr class="table-info">
                  <td class='text-left' style='font-size:smaller'>O-{{ other.id }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ other.owner }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ other.user.email }}</td>
                  <td class='text-center' style='font-size:smaller'>{{ other.date_of_acquisition }}</td>
                  <td style='font-size:smaller'>
                    <a href="{{ other.signature.url }}" download>signature</a>
                  </td> 
                  <td style='font-size:smaller'>
                    {% for note in other.others.all %}
                    <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                    {% endfor %}
                  </td> 
                  <td>
                    <a href="{% url 'pamsapp:edit-other-admin' other.id %}" 
                    class='btn btn-outline-primary btn-sm'>View</a>
                  {% if other.is_confirm == True %}
                    <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}

              {% if all_ornaments %}  
                <tr>
                  <th colspan ='6' >অলংকারাদি</th>
                </tr>  
                {% for ornament in all_ornaments %}  
                <tr class="table-info">
                  <td class='text-left' style='font-size:smaller'>Ot-{{ ornament.id }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ ornament.owner }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ ornament.user.email }}</td>
                  <td class='text-center' style='font-size:smaller'>{{ ornament.date_of_acquisition }}</td>
                  <td style='font-size:smaller'>
                    <a href="{{ ornament.signature.url }}" download>signature</a>
                  </td> 
                  <td style='font-size:smaller'>
                    {% for note in ornament.ornaments.all %}
                    <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                    {% endfor %}
                  </td> 
                  <td>
                    <a href="{% url 'pamsapp:edit-ornaments-admin' ornament.id %}" 
                    class='btn btn-outline-primary btn-sm'>View</a>
                  {% if ornament.is_confirm == True %}
                    <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}

              {% if all_stocks %}  
              <tr>
                <th colspan ='6' >স্টকস</th>
              </tr>  
              {% for stock in all_stocks %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>St-{{ stock.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ stock.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ stock.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ stock.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ stock.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in stock.stocks.all %}
                  <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                  {% endfor %}
                </td> 
                <td>
                  <a href="#" 
                  class='btn btn-outline-primary btn-sm'>View</a>
                {% if stock.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}

            {% if all_shares %}  
              <tr>
                <th colspan ='6' >শেয়ার</th>
              </tr>  
              {% for share in all_shares %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>Sh-{{ share.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ share.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ share.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ share.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ share.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in share.shares.all %}
                  <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                  {% endfor %}
                </td> 
                <td>
                  <a href="#" 
                  class='btn btn-outline-primary btn-sm'>View</a>
                {% if share.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}

              {% if all_insurences %}  
                <tr>
                  <th colspan ='6' >বীমা</th>
                </tr>  
                {% for insurence in all_insurences %}  
                <tr class="table-info">
                  <td class='text-left' style='font-size:smaller'>le-{{ insurence.id }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ insurence.owner }}</td>
                  <td class='text-left' style='font-size:smaller'>{{ insurence.user.email }}</td>
                  <td class='text-center' style='font-size:smaller'>{{ insurence.date_of_acquisition }}</td>
                  <td style='font-size:smaller'>
                    <a href="{{ insurence.signature.url }}" download>signature</a>
                  </td> 
                  <td style='font-size:smaller'>
                    {% for note in insurence.insurances.all %}
                    <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                    {% endfor %}
                  </td> 
                  <td>
                    <a href="#" 
                    class='btn btn-outline-primary btn-sm'>View</a>
                  {% if insurence.is_confirm == True %}
                    <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% endif %}

              {% if all_cash_or_bankvalue %}  
              <tr>
                <th colspan ='6' >নগদ / ব্যাংকে গচ্ছিত অর্থ</th>
              </tr>  
              {% for cash_or_bankvalue in all_cash_or_bankvalue %}  
              <tr class="table-info">
                <td class='text-left' style='font-size:smaller'>Cb-{{ cash_or_bankvalue.id }}</td>
                <td class='text-left' style='font-size:smaller'>{{ cash_or_bankvalue.owner }}</td>
                <td class='text-left' style='font-size:smaller'>{{ cash_or_bankvalue.user.email }}</td>
                <td class='text-center' style='font-size:smaller'>{{ cash_or_bankvalue.date_of_acquisition }}</td>
                <td style='font-size:smaller'>
                  <a href="{{ cash_or_bankvalue.signature.url }}" download>signature</a>
                </td> 
                <td style='font-size:smaller'>
                  {% for note in cash_or_bankvalue.Cash_or_bankvalues.all %}
                  <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                  {% endfor %}
                </td> 
                <td>
                  <a href="#" 
                  class='btn btn-outline-primary btn-sm'>View</a>
                {% if cash_or_bankvalue.is_confirm == True %}
                  <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% endif %}

          {% if all_vehicles %}  
            <tr>
              <th colspan ='6' >মোটর ভেহীকলস</th>
            </tr>  
            {% for vehicle in all_vehicles %}  
            <tr class="table-info">
              <td class='text-left' style='font-size:smaller'>V-{{ vehicle.id }}</td>
              <td class='text-left' style='font-size:smaller'>{{ vehicle.owner }}</td>
              <td class='text-left' style='font-size:smaller'>{{ vehicle.user.email }}</td>
              <td class='text-center' style='font-size:smaller'>{{ vehicle.date_of_acquisition }}</td>
              <td style='font-size:smaller'>
                <a href="{{ vehicle.signature.url }}" download>signature</a>
              </td> 
              <td style='font-size:smaller'>
                {% for note in vehicle.vehicles.all %}
                <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                {% endfor %}
              </td> 
              <td>
                <a href="#" 
                class='btn btn-outline-primary btn-sm'>View</a>
              {% if vehicle.is_confirm == True %}
                <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% endif %}

          {% if all_electronics %}  
            <tr>
              <th colspan ='6' >ইলেক্ট্রনিক্স জিনিসপত্র</th>
            </tr>  
            {% for electronic in all_electronics %}  
            <tr class="table-info">
              <td class='text-left' style='font-size:smaller'>E-{{ electronic.id }}</td>
              <td class='text-left' style='font-size:smaller'>{{ electronic.owner }}</td>
              <td class='text-left' style='font-size:smaller'>{{ electronic.user.email }}</td>
              <td class='text-center' style='font-size:smaller'>{{ electronic.date_of_acquisition }}</td>
              <td style='font-size:smaller'>
                <a href="{{ electronic.signature.url }}" download>signature</a>
              </td> 
              <td style='font-size:smaller'>
                {% for note in electronic.electronics.all %}
                <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                {% endfor %}
              </td> 
              <td>
                <a href="#" 
                class='btn btn-outline-primary btn-sm'>View</a>
              {% if electronic.is_confirm == True %}
                <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% endif %}

          {% if all_others_m %}  
            <tr>
              <th colspan ='6' >অস্থাবর অন্যান্য</th>
            </tr>  
            {% for other_m in all_others_m %}  
            <tr class="table-info">
              <td class='text-left' style='font-size:smaller'>E-{{ other_m.id }}</td>
              <td class='text-left' style='font-size:smaller'>{{ other_m.owner }}</td>
              <td class='text-left' style='font-size:smaller'>{{ other_m.user.email }}</td>
              <td class='text-center' style='font-size:smaller'>{{ other_m.date_of_acquisition }}</td>
              <td style='font-size:smaller'>
                <a href="{{ other_m.signature.url }}" download>signature</a>
              </td> 
              <td style='font-size:smaller'>
                {% for note in other_m.others_m.all %}
                <a href="{{ note.notefield.url }}" download>Attachment{{ forloop.counter }}</a> <br>
                {% endfor %}
              </td> 
              <td>
                <a href="#" 
                class='btn btn-outline-primary btn-sm'>View</a>
              {% if other_m.is_confirm == True %}
                <button class='bg-success' style='color:azure' disabled="disabled">Confirmed</button>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}



